:root {
    --background-gradient: linear-gradient(#dfdada, #ccc8c8, #dfdada);
    --page-margin-color: #c2c0c0;
    --black-shadow: #00000042;
    font-size: 16px;
}

* {
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background-gradient);
    color: #1f1a1a;
    overflow: hidden;
    font:
        1rem "Quantico",
        sans-serif;
    text-align: center;
}

main {
    padding: 2rem;
    padding-bottom: 4rem;
    overflow-y: auto;
    flex: 1 1 auto;
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 0.5rem;
}

header {
    height: 5rem;
    padding: 1rem;
    border-bottom: var(--black-shadow) 3px solid;
}

header img {
    height: inherit;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
}

h1,
p,
button {
    text-shadow: var(--black-shadow) 0 0 1.5rem;
}

footer {
    height: 2rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: var(--black-shadow) 3px solid;
}

#footer-elements {
    display: flex;
    height: inherit;
    margin: 0 auto;
    margin-left: 1rem;
    text-align: left;
    align-items: center;
}

.page-margin {
    background-color: var(--page-margin-color);
}

.fade-in {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.fade-in:hover {
    opacity: 0.8;
}

#chart-div {
    display: flex;
    justify-content: center;
    position: relative;
    justify-self: center;
    height: 15rem;
    width: 35rem;
    transition: 0.4s ease;
}

#chart-div.hidden {
    height: 0rem;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s ease;
}

#chart-div canvas {
    opacity: inherit;
}

#chart-toggle {
    display: inline-flex;
    background: none;
    cursor: pointer;
    border: none;
    overflow: hidden;
    max-height: 1.2rem;
}

#chart-toggle::before {
    content: "";
    background-image: url("arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.2rem;
    padding-left: 0.5rem;

    rotate: 90deg;
    transition: rotate 0.2s ease-in-out;
}

#chart-toggle.rotated::before {
    rotate: 0deg;
}

#footer-text,
#invertocat {
    display: inherit;
    max-height: 2rem;
    width: auto;
}
